<h1> Users Details</h1>

		<% if current_user %>
		
			<% @myusers.each do |user| %>
			<p> name: <%= user.name%> || Type: <%= user.user_type %> || Email: <%= user.email %></p>
			<p>  </p>
			<% end %>
			<!-- <%= link_to '<button type="button">Add User</button>'.html_safe%> -->
		<% end %>
		
