<h1> Projects Details</h1>

		<% if current_user %>
		
			<% @myprojects.each do |proj| %>
				<p> name :: <%= proj.name%> </p>
			<% end %>
			<br>
				<%= link_to '<button type="button">Add Project</button>'.html_safe,
				projectnew_path%>

			<%= link_to '<button type="button">Add Bug</button>'.html_safe%>
		<% end %>