<h1> New Project </h1>

  <%= form_with(model: @myprojects) do |form| %>
 <br>
  <div class="field">
    <%= form.label :name %>
    <br>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
  <% end %>
